*{-webkit-appearance: none;font-size:12px;list-style:none;}
a:visited,
a{text-decoration:none;cursor:pointer;color:#575757;}
a.a,.a{color:#2876D6;}
input[type="checkbox"]{-webkit-appearance: checkbox;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0; border:0;}
body,button,input,select,textarea{font:12px/1.6  "\5FAE\8F6F\96C5\9ED1";}/*5FAE\8F6F\96C5\9ED1  Verdana, Helvetica, sans-serif*/
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol,li{list-style:none;}
a:link,a:visited{color:#898989;text-decoration:none;}
a:hover,a:active{color:#898989;text-decoration:none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
input{outline: none;}/* �����ı������ */
textarea {outline: none;} 
a{text-decoration:none;color:#333;outline:none;}
a:hover{text-decoration:none;color:#F40;outline:none;}
/* ���?�� */
.clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clear {zoom:1; /* for IE6 IE7 */}
.clear2{ clear:both; height:2px;}
.clear5{ clear:both; height:5px;}
.clear6{ clear:both; height:6px;}
.clear10{ clear:both; height:10px;}
.clear20{ clear:both; height:20px;}
.clear30{ clear:both; height:30px;}
.clear40{ clear:both; height:40px;}
.fl{ float:left;}

body{ background:#fff;}

select{-webkit-appearance: none; border:none; background:none; width:100%; height:30px; line-height:30px; font-size:14px;list-style:none; color:#6380a2;}
.selectstyle select{ height:20px; line-height:20px;}

.footer{ position:absolute; bottom:20px; left:50%; margin-left:-39%; width:78%;}

textarea{resize:none;overflow:auto;}
.contain{min-width:320px;max-width:640px; margin:0 auto; height:100%;}
	.home{ width:100%; position:relative}
	.home .divbg img{width:100%; vertical-align:bottom;}
	.home .logo{ width:35.15%; position:absolute; right:3.6%; top:1%;}
	.home .logo a img{ display:inline-block; width:100%; border:0;}
	.home .ny_head{ width:100%; position:absolute; top:0; left:0;}
	.home .ny_head img{ width:100%; vertical-align:bottom}
	
	.home .btn_start{ position:absolute; top:45%; left:15%; width:30.78%; z-index:999}
	.home .btn_start a img{ width:100%; border:0;}
	
	.home .rightnav{ position:absolute; right:0; top:33%; width:100%;}
	.home .rightnav a img{ width:100%; border:0;}
	
	.home .rightnav ul{}
	.home .rightnav ul li{ width:100%; margin:0 0 3% 0; position:relative;float:right}
	.home .rightnav ul li.li1{ width:58.44%;}
	.home .rightnav ul li.li2{ width:47.5%;}
	.home .rightnav ul li.li3{ width:55.31%;}
	
	.home .rightnav ul li .divliimg img{ width:100%;}
	.home .rightnav ul li .divliimg a img{ border:0; width:100%;}
	.home .rightnav ul li .divinfo{position:absolute;width:90%;left:5%; top:9%;}
	.home .rightnav ul li .divinfo img,.home .right ul li .divinfo a img{ width:100%; border:0;}
	.home .rightnav ul li.li1 .divinfo .adminimg{ float:left; width:28%}
	.home .rightnav ul li.li2 .divinfo .adminimg{ float:left; width:34%}
	.home .rightnav ul li.li3 .divinfo .adminimg{ float:left; width:30%}
	.home .rightnav ul li .divinfo .textimg{ float:left; margin:5% 0 0 0; white-space: nowrap;text-overflow:ellipsis; overflow:hidden;}
	.home .rightnav ul li.li1 .divinfo .textimg{ width:70%;}
	.home .rightnav ul li.li2 .divinfo .textimg{ width:65%;}
	.home .rightnav ul li.li3 .divinfo .textimg{ width:70%;}
	.home .rightnav ul li .divinfo .textimg a{ font-size:12px; font-weight:400; color:#fff; text-align:left; text-decoration:none}
	.home .rightnav ul li .divinfo .textimg a div{ font-size:10px; font-weight:400}
	
	.home_foot{ width:100%; position:absolute; bottom:0; left:0;}
	.home_foot .foot_img img{ width:100%; vertical-align:bottom}
	.home_foot .foot_nav{ width:84%; margin:3% auto 0; position:absolute; left:8%; top:10%;}
	.home_foot .foot_nav ul{ width:100%}
	.home_foot .foot_nav ul li{ float: left; width:25%; margin:0 2% 0 0}
	.home_foot .foot_nav ul li.short{ width:23%; margin:0;}
	.home_foot .foot_nav ul li a{ display:inline-block; width:100%; height:20px; cursor:pointer}
	
	.home_foot img{ width:100%; vertical-align:bottom}
	.home_foot .bot_nav{width:94%; position:absolute; left:3%; top:25%;}
	.home_foot .bot_nav ul{ width:100%;position:absolute;}
	.home_foot .bot_nav ul li{ float: left; width:20%; margin:0 2% 0 0}
	.home_foot .bot_nav ul li.short{ width:18.6%; margin:0;}
	.home_foot .bot_nav ul li a{ display:inline-block; width:100%; height:20px; cursor:pointer}
	
	.ny_top,.ny_foot{ width:100%; position:relative;}
		.ny_top img,.ny_foot img{ width:100%; vertical-align:bottom;}
			.ny_top .ny_logo{ position:absolute; width:40%; right:2%; top:2%}
			.ny_top .ny_logo a{ display:inline-block; width:100%; height:50px;}
			.ny_foot .bot_nav{width:94%; position:absolute; left:3%; top:25%;}
			.ny_foot .bot_nav ul{ width:100%;position:absolute; left:0; top:0;}
			.ny_foot .bot_nav ul li{ float: left; width:20%; margin:0 2% 0 0}
			.ny_foot .bot_nav ul li.short{ width:18.6%; margin:0}
			.ny_foot .bot_nav ul li a{ display:inline-block; width:100%; height:20px; cursor:pointer}
	
	.hdgz,.grzx{ width:100%;}
		.hdgz_con{ position:relative}
		.hdgz_con input{ position:absolute; left:6%; top:5px; z-index:9999}
		.hdgz_con img{ vertical-align:bottom; width:100%;}
	.grzx{ background:#f1f1f1;}	
	.grzx .grzx_admin{ height:180px; margin:0 auto; width:139px; padding:22px 0 0 0;}
	.grzx .grzx_admin img{ width:139px; height:139px; margin:0 auto;}
	.grzx .grzx_admin h2{ font-size:18px; color:#848484; font-weight:400; text-align:center}
	.grzx .grzx_info{ position:relative;}
	.grzx .grzx_info img{ width:100%; margin:2% 0 0 0;}
	.grzx .grzx_info ul.ulinfo{ position:absolute; left:28%; top:0; width:60%}
	.grzx .grzx_info ul.ulinfo li{line-height:25px; color:#848484; font-size:12px; font-weight:400; margin:0 0 5% 0}
	.grzx .grzx_btn{ position:relative; width:100%}
	.grzx .grzx_btn img{ width:100%;}
	.grzx .grzx_btn a{ position:absolute; top:10%;}
	.grzx .grzx_btn a.go{ left:5%; width:44%}
	.grzx .grzx_btn a.comeon{ right:5%; width:44%;}
	.grzx .grzx_qt{ width:320px; margin:0 auto;}
		.grzx .grzx_qt ul li{ float:left; width:80px; margin:10px 0 0 0;}
		.grzx .grzx_qt ul li a{ display:inline-block; text-decoration:none; text-align:center; }
		.grzx .grzx_qt ul li a img{ width:50px; height:50px; border:none;}
		.grzx .grzx_qt ul li a div{ width:80px; height:30px; line-height:30px;color:#848484; font-size:14px; font-weight:400; white-space: nowrap;text-overflow:ellipsis; overflow:hidden;}
		
	.phb{ background:#f1f1f1; width:100%}
	.phb img{ width:100%;}
		.phbtitle{ position:relative}
		.phbtitle h2{ position:absolute; left:14%; top:5%; width:5.5%; color:#fff; font-size:14px; font-weight:400; height:100%; line-height:100%; text-align:center;}
		.phbcon{ width:100%; position:relative}
		.phbcon_left{ position:absolute; left:5%; top:5%; width:80%;}
			.phbleft{ float:left; width:30%}
			.phbleft h2{ color:#e85742; font-size:12px; font-weight:400;}
			.phbleft img{ width:80%; margin:5%;}
			.phbright{ float:left; width:70%}
				.phbright p{ line-height:18px; color:#848484; font-size:12px;}
				 .phbright ul.sxt li{ float:left; width:20%; margin:5% 2% 0 0;}
				 .phbright ul.sxt li a{ display:inline-block; text-decoration:none; text-align:center; width:100%;}
				 .phbright ul.sxt li a img{ width:80%; text-align:center; border:none;}
				 .phbright ul.sxt li a div{ width:100%; color:#848484; font-size:12px; font-weight:400; white-space: nowrap;text-overflow:ellipsis; overflow:hidden;}
		.phbcon_right{ position:absolute; left:80%; top:5%; width:20%; text-align:center}
		.phbcon_right a img{ width:60%; margin:2% 0; border:0;}

/*弹出层*/
.mydiv { width:93.75%; z-index:99; margin:0 auto; position:absolute; left:50%; top:20%; margin-left:-46.87%;}
.mydiv .popdiv1{ width:100%; position:relative; }
.mydiv .popdiv1 img{ width:100%;}
.mydiv .popdiv1 .popcon{ width:92.5%; position:absolute; top:3%; left:3.8%;}
.mydiv .popdiv1 .popcon .img_cjtm{ width:100%;}
.mydiv .popdiv1 .popcon .img_cjtm input.inputclass3{ position:absolute; left:24%; top:1.5%; width:56%; height:6%; line-height:6%; border:none; font-size:16px;}
.hidebg { width:100%; height:100%; background: #5be2ed;   filter:alpha(opacity=70);/*IE*/    opacity:0.7;/*FF*/    z-index:1;  position:absolute;/*IE6*/ position:fixed; left:0; top:0;}  
.mydiv .popdiv1 .popcon .img_xh{ width:100%; margin:1% 0;}

.mydiv .popdiv1 .popcon .img_yqhy{ width:100%; position:relative}
.mydiv .popdiv1 .popcon .img_yqhy .chk{ position:absolute; left:25%; top:0; width:74%; height:100%;}
.mydiv .popdiv1 .popcon .img_yqhy .chk .chkimg img{ width:100%;}
.mydiv .popdiv1 .popcon .img_yqhy .chk .chkbox{ width:100%; height:100%; position:absolute; left:0; top:0;}
.mydiv .popdiv1 .popcon .img_yqhy .chk .chkbox ul{ width:100%; height:96%; overflow-x:hidden; overflow-y:auto;}
.mydiv .popdiv1 .popcon .img_yqhy .chk .chkbox ul li{ float: left; width:33%;}
.mydiv .popdiv1 .popcon .img_yqhy .chk .chkbox ul li:hover{}
.mydiv .popdiv1 .popcon .img_yqhy .chk .chkbox ul li label.checkbox {cursor:pointer;display:inline-block; width:100%;} 
.mydiv .popdiv1 .popcon .img_yqhy .chk .chkbox ul li label.checkbox div.divimg{width:80%; padding:10% 10% 5% 10%; position:relative;}
.mydiv .popdiv1 .popcon .img_yqhy .chk .chkbox ul li label.checkbox div.divimg span{ position:absolute; width:27px; height:26px; right:10%; bottom:10%; display:inline-block; background:url(../images/chkon.png) no-repeat; z-index:9999;}
.mydiv .popdiv1 .popcon .img_yqhy .chk .chkbox ul li label.checkbox div.divimg img{ width:100%;}
.mydiv .popdiv1 .popcon .img_yqhy .chk .chkbox ul li label.checkbox div.divtext{ width:80%; padding:0 10% 5% 10%; color:#fff; text-align:center; font-size:12px; font-weight:400;}
.mydiv .popdiv1 .popcon .img_yqhy .chk .chkbox ul li label.checked div.divimg span{ background:url(../images/chk.png) no-repeat} 
.mydiv .popdiv1 .popcon .img_yqhy .chk .chkbox ul li label.disabled div.divimg span{ background:url(../images/chkon.png) no-repeat} 

.mydiv .popdiv1 .popcon .img_tishi{ width:100%;}
.mydiv .popdiv1 .popcon .img_tishi img{ width:100%; vertical-align:top;}

.mydiv .popdiv1 .btn_next{ width:27.18%; margin:0 auto; position:absolute; top:83%; left:36.41%;}
.mydiv .popdiv1 .btn_next a img{ border:0; width:100%;}
.mydiv .popdiv1 .btn_next a:hover{opacity:0.7;filter:alpha(opacity=70);}

.mydiv .popdiv1 .mst{ width:87.5%; position:absolute; top:5%; left:6.3%}

.mydiv .popdiv2{ width:92.5%; margin:0 auto; position:relative;}
.mydiv .popdiv2 img{ width:100%;}
.mydiv .popdiv2 .div_iframe{ position:absolute; left:5px; top:5px; right:0; height:90%; overflow:hidden;}
.mydiv .popdiv2 .fx_foot{ position:absolute; left:5px; bottom:5px; right:0; background:#e65948; height:10%;}
.mydiv .popdiv2 .fx_foot a.icon_qq{ float:right; width:25px; margin:10px 25px 0 0; height:29px; background:url(../images/icon_qq.png) no-repeat}
.mydiv .popdiv2 .fx_foot a.icon_rr{ float:right; width:34px; margin:10px 25px 0 0; height:34px; background:url(../images/icon_rr.png) no-repeat}
.mydiv .popdiv2 .fx_foot a.icon_dd{ float:right; width:34px; margin:10px 25px 0 0; height:34px; background:url(../images/icon_dd.png) no-repeat}

.radioimg{ width:280px; position:absolute; top:16%; left:50%; margin-left:-140px;}
.radioimg .hRadio{display:inline-block;cursor:pointer;vertical-align:middle; width:70px; height:58.33px; text-align:center; float:left; }
.radioimg .hRadio div{width:70px; height:58.33px;display:inline-block; }

.radioimg2{ position:absolute; top:10.5%; left:21.5%; width:78%; height:10%}
.radioimg2 .hRadio{display:inline-block;cursor:pointer;vertical-align:middle; width:22.5%; height:100%; margin:0 3% 3% 0;}
.radioimg2 .hRadio div{ width:100%; height:100%; display:block;}
.radioimg2 .hRadio_Checked { background:url(../images/icon_gou.png) 10% center no-repeat;}

.kol{ width:100%;}
.tab_kol{ width:93.75%; margin:10px auto;}
		.tab_kol_tishi{ width:100%;}
		.tab_kol_tishi img{ width:100%;}
		.tab_koltitle{ border-bottom:#d9d9d9 1px solid;}
		.tab_koltitle ul li{ float:left; width:32%; margin:0 2% 0 0;}
	   .tab_koltitle ul li.last{ margin:0;}
		.tab_koltitle ul li a{ display:inline-block; }
		.tab_koltitle ul li a img{ margin:14px 0 0 0; border:0; width:100%; vertical-align:bottom}
		
		.tab_kol_info{ width:100%; margin:0 auto; position:relative;}
				.tab_kol_info img{ border:0; vertical-align:bottom; width:100%;}
				.tab_kol_info div.divleft{ width:25%; position:absolute; left:5%; top:10%;}
				.tab_kol_info div.divleft img{ border:#cacaca 1px solid; width:100%;}
				.tab_kol_info div.divright{ width:50%; position:absolute; top:20%; left:35%;}
				.tab_kol_info div.divright h2{color:#575757; font-size:16px; font-weight:400; text-align:left; margin:0 0 0 0; line-height:24px;}
				.tab_kol_info div.divright h3{color:#919191; font-size:12px; font-weight:400; text-align:left; line-height:16px;}
				.tab_kol_info div.divright p{ text-align:left; margin:5px 0 0 0;}
				.tab_kol_info div.divright a.btn_gz{ width:40%; display:inline-block;}
				.tab_kol_info div.divright a.btn_gz img{ border:0; width:100%;}
		.tab_kol_tip{ background:#5ae5ec; padding:10px; line-height:20px; color:#363636; font-size:14px; text-align:left; margin:10px auto; -webkit-border-radius: 6px ; -moz-border-radius: 6px;border-radius: 6px; behavior: url(../css/PIE.htc);/*IE6、7、8下支持一些 CSS3 html5 属性*/}		
		.imglist{ background:#f5f5f5; padding:15px;}
				.photo_lcon{  margin:10px 0 20px 0;}
				.photo_lcon dl{ margin:0 0 10px 0;border-bottom:#e0e0e0 1px solid;}
				.photo_lcon dl.dl_margin{border-bottom:none;}
				.photo_lcon dl dt{width:90%; margin:0 0 0 0; position:relative; margin:0 auto;}
				.photo_lcon dl dt a img{ width:100%; border:0; vertical-align:bottom}
				.photo_lcon dl dt div.left_title{ position:absolute; left:0; bottom:0; width:96%; padding:4px 0 4px 4%; height:30px; line-height:30px; font-size:16px; color:#fff; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#44000000',endColorstr='#44000000');background:rgba(0,0,0,.5);}
				
				.photo_lcon dl dd{width:90%; line-height:25px; margin:0 auto;}
				.photo_lcon dl dd h2{ color:#545454; font-size:12px; font-weight:400;}
				.photo_lcon dl dd p{ color:#919191; font-size:10px; font-weight:400; line-height:20px; }
		
		.tab_kol_time{ padding:10px; /*圆角*/-webkit-border-radius: 6px; -moz-border-radius: 6px;border-radius: 6px; background:#34363e; behavior: url(../css/PIE.htc);/*IE6、7、8下支持一些 CSS3 html5 属性*/}
					
			.tab_kol_time h3{color:#fff; font-size:14px; font-weight:400;}
			.tab_kol_time h4{ margin:10px 0 0 0;color:#fff; font-size:12px; font-weight:400;}
			.tab_kol_time h4 input{ vertical-align:middle;}
			.tab_kol_time .divcheck{ margin:5px 0 0 0;color:#fff;}
			.tab_kol_time .divcheck input{ vertical-align:middle}
			.tab_kol_time a.btn_search{ display:inline-block; width:151px; height:42px; background:url(../images/btn_search.png) no-repeat; float:right; margin:90px 0 0 0;}
			input.inputclass1{ width:280px; height:20px; line-height:20px; background:url(../images/inputbg.jpg) no-repeat; border:none; padding:8px 2px 5px 2px;color:#999;}
			input.inputclass2{ width:280px; height:20px; line-height:20px; background:url(../images/inputbg.jpg) no-repeat; border:none; padding:8px 2px 5px 2px;color:#999;}
			.tab_kol_time input.focus_text{color:#333;width:280px; height:20px; line-height:20px; background:url(../images/inputbg.jpg) no-repeat; border:none; padding:8px 2px 5px 2px;}
			.tab_kol_time input.blur_text{color:#999;width:280px; height:20px; line-height:20px; background:url(../images/inputbg.jpg) no-repeat; border:none; padding:8px 2px 5px 2px;}
			.divinput{ margin:10px 0;}
			
			
/* jcDateIco */
.jcDateIco{background:url(../images/jdbg.jpg) no-repeat center; border:none; width:200px; height:20px; line-height:20px; padding:8px 0 3px 2px;}
input.jcDate{cursor:pointer;}
#jcDate{background:#fefefe;width:181px;padding:10px;height:203px;position:absolute;z-index:1000;border:1px solid #363636;color:#333;display:none;font-size:0;overflow:hidden;}
#jcDateTt{height:15px;line-height:15px;position:relative;margin-bottom:10px;}
#jcDateTt a{color:#333;display:block;position:absolute;top:0;width:15px;height:15px;cursor:pointer;}
#jcDateTt a#d_prev{background:url(../images/r_left.png) no-repeat center 3px;left:0;}
#jcDateTt a#d_next{background:url(../images/r_right.png) no-repeat center 3px;right:0;}
#jcDateTt a#d_prev:hover{background-position:center -11px;background-color:#2b84b5;}
#jcDateTt a#d_next:hover{background-position:center -11px;background-color:#2b84b5;}
#jcDateTt div{position:absolute;top:0;left:15px;right:15px;bottom:0;color:#333;font-size:12px;font-weight:bold;text-align:center;}
#jcDateTt div samp,#jcDateTt div span{margin:0 5px;color:#333;font-size:12px;font-weight:bold;cursor:pointer;}
#jcDateTt div samp:hover,#jcDateTt div span:hover,#jcDateTt div samp.visited,#jcDateTt div span.visited{color:#2b84b5;}
#jcDateMax{width:2175px;height:124px;position:relative;left:-1087px;top:0;}
#jcDateMax ul{width:181px;font-size:0;float:left;height:124px;display:inline-block;}
#jcDayWrap{overflow:hidden;}
#jcYeas,#jcMonth{display:none;overflow:hidden;padding-left:2px;margin-bottom:10px;}
#jcYeas dt,#jcYeas dd{font-weight:bold;width:53px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
#jcYeas dt:hover,#jcYeas dd:hover,#jcMonth dt:hover,#jcMonth dd:hover{background:#5aaad8;color:#fff;}
#jcYeas dt.visited,#jcYeas dd.visited,#jcMonth dt.visited,#jcMonth dd.visited{background:#2b84b5;color:#fff;}
#jcMonth dt{font-weight:bold;width:53px;height:25px;float:left;text-align:center;line-height:25px;cursor:pointer;margin:10px 0;}
#jcDayWrap ul li,
#jcDayCon dt{float:left;width:25px;line-height:20px;text-align:center;display:inline;}
#jcDayWrap ul li{color:#bbb;cursor:pointer;}
#jcDayCon dt{color:#2b84b5;font-size:13px;}
#jcDayWrap ul li.jcDateColor{color:#555;}
#jcDayWrap ul li.visited{background:#2b84b5;color:#fff;}
#jcDayWrap ul li:hover{background:#5aaad8;color:#fff;}
#jcDateMax{clear:both;}
#jcDateBtn{clear:both;line-height:19px;height:19px;padding-top:10px;overflow:hidden;}
#jcTimeWrap{float:right;width:54px;border:1px solid #999;border-left:1px solid #555;border-top:1px solid #555;height:17px;overflow:hidden;display:none;}
#jcDateBtn label{width:6px;line-height:18px;height:17px;display:block;float:left;text-align:center;color:#333;}
#jcDateBtn input{line-height:17px;height:17px;text-align:center;float:left;width:24px;border:0;}
#jcDateBtn samp,#jcDateBtn span{float:left;margin-right:10px;cursor:pointer;}
#jcDateBtn samp:hover,#jcDateBtn span:hover{color:#d52222;}
#jcDateBtn a#d_sub{width:37px;float:right;display:block;line-height:18px;height:17px;text-align:right;cursor:pointer;}
#jcDateBtn a#d_sub:hover{text-decoration:none;color:#d52222;font-weight:bold;}
/**************************************** jQuery jcdate - End ****************************************************/

		
		