*{word-wrap:break-word; font-size:12px;}
body,input,button,select,textarea{font:12px/1.5 'Microsoft Yahei','Simsun';color:#444;}
textarea{resize:none;}
body,ul,ol,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,.pr,.pc{margin:0;padding:0;}
table{empty-cells:show;border-collapse:collapse;}caption,th{text-align:left;font-weight:400;}
dl,ul li,.xl li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:1em;}
em,cite,i{font-style:normal;}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}

table{border-collapse:collapse;border-spacing:0;}
input{outline: none;}/* 屏蔽文本框高亮 */
textarea {outline: none;} 
/* 清理浮动 */
.clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clear {zoom:1; /* for IE6 IE7 */}
.clear5{ clear:both; height:5px;}
.clear10{ clear:both; height:10px;}
.clear20{ clear:both; height:20px;}
/*去掉超链接虚线框*/
a{outline:none;}
a:active{noOutline:expression(this.onFocus=this.blur());}
:focus{outline:0;}

.fl{ float:left;}
.fr{ float:right;}

body{ background:#fff;}

.contain{ width:100%;  margin:0 auto;}
	.home{ width:100%; position:relative}
	.home .divbg img{ width:100%; vertical-align:bottom;}	
	.home .ny_top{ width:100%; z-index:2; position:absolute; left:0; top:0}
	.home .ny_top img{ width:100%;}
	.home .ny_top .right_logo{ width:25%; height:100%; position:absolute; top:0; right:0; z-index:999;}
	.home .ny_top .right_logo a{ display:inline-block; width:100%; height:100%;}
	.home .logo{ width:15%; position:absolute; right:1.8%; top:2%;}
	.home .logo a img{ width:100%; border:0;}
	.home .logo a:hover{opacity:0.7;filter:alpha(opacity=70);}
	.home .right{ width:23.3%; position:absolute; right:0; top:20%;}
	.home .right ul li{ width:100%; margin:0 0 5% 0; position:relative;}
	.home .right ul li .divliimg img{ width:100%;}
	.home .right ul li .divliimg a img{ border:0; width:100%;}
	.home .right ul li .divinfo{position:absolute;width:95%;left:5%; top:10%; font-family:'Microsoft Yahei'}
	.home .right ul li .divinfo img,.home .right ul li .divinfo a img{ width:100%; border:0;}
	.home .right ul li .divinfo .adminimg{ float:left; width:30.09%;}
	.home .right ul li .divinfo .textimg{ float:left; width:69%; margin:2% 0 0 0;}
	.home .right ul li .divinfo .textimg a{ text-decoration:none;}
	.home .right ul li .divinfo .textimg h2{ font-size:20px; color:#fff; font-weight:800;}
	.home .right ul li .divinfo .textimg h3{ font-size:16px; color:#fff; font-weight:400;}
	.home .right ul li .divinfo .textimg h4{ font-size:16px; color:#fff; font-weight:400;}
	
	.home .start{ width:10.88%; position:absolute; top:69%; left:53.75%; z-index:999;}
	.home .start a img{ width:100%; border:0;}
	.home .start a:hover{opacity:0.7;filter:alpha(opacity=70);}
	
	.home .bottom{ width:100%; position:absolute; left:0; top:73.5%; z-index:2;}
	.home .bottom img{ width:100%;}
	.home .bottom .bottom_left{ width:22%; position:absolute; left:0; top:0;}
	
	.home .bottom .bottom_left .app{ width:40%; margin:2% 0 0 3.9%; position:absolute; top:0; left:8.5%;}
	.home .bottom .bottom_left .app a{ display:inline-block; width:100%; height:100%;}
	.home .bottom .bottom_left .app a img{ width:100%; border:0;}
	
	.home .bottom .bottom_left .weixin{ position:absolute; top:0; left:53%; width:40%; margin:2% 0 0 2%;}
	.home .bottom .bottom_left .weixin a{ display:inline-block; width:100%; height:100%;}
	.home .bottom .bottom_left .weixin a img{ width:100%; border:0;}
	
	.home .bottom .bottom_right{width:54.7%; position:absolute; top:50%; left:22%;}
	.home .bottom .bottom_right .sina{ float:left; width:15.38%; margin:2.5% 0 0 1.4%;}
	.home .bottom .bottom_right .sina a{ display:inline-block; width:100%; height:100%;}
	.home .bottom .bottom_right .sina a img{ width:100%; border:0;}
	.home .bottom .bottom_right .sina a:hover{opacity:0.7;filter:alpha(opacity=70);}
	.home .bottom .bottom_right .linktext{ width:57.52%; margin:4% 0 0 0; position:absolute; left:40%; top:0;}
	.home .bottom .bottom_right .lt{ left:45%}
	.home .bottom .bottom_right .linktext a.fanhui{ float:left; width:23.6%;}
	.home .bottom .bottom_right .linktext a.phb{ float:left; width:26.63%;}
	.home .bottom .bottom_right .linktext a.txxdy{ float:left; width:28.97%;}
	.home .bottom .bottom_right .linktext a.hdgz{ float:left; width:20.79%;}
	.home .bottom .bottom_right .linktext a img{ width:100%; border:0;}
	.home .bottom .bottom_right .linktext a:hover{opacity:0.7;filter:alpha(opacity=70);}
	.home .bottom .iconlink{ width:15.66%; position:absolute; right:2%; top:65%;}
	.home .bottom .iconlink .text1{ position:absolute; left:5%; width:26.42%; margin:3% 0 0 0;}
	.home .bottom .iconlink a{ position:absolute; width:15.56%; top:32%;}
	.home .bottom .iconlink a.tengxun{ width:12%; left:80%;}
	.home .bottom .iconlink a.sinaweibo{left:35%;}
	.home .bottom .iconlink a.douban{left:50%;}
	.home .bottom .iconlink a.renren{left:65%;}
	.home .bottom .iconlink a img{ width:100%; border:0;}

/*内页*/
.ny_head{ width:100%; height:111px; background:url(../images/ny_topbg.jpg) repeat-x;}
	.ny_logo{ float:left; width:261px; height:54px; background:url(../images/logo3.png) no-repeat; margin:28px;}
		.ny_logo a{ display:inline-block; width:261px; height:54px;}
	.ny_nav{ float:right; width:478px; height:23px; background:url(../images/ny_nav.png) top no-repeat; margin:70px 28px 0 0;}
		.ny_nav ul li{ float:left; height:23px; margin:0 49px 0 0;}
		.ny_nav ul li a.cur,.ny_nav ul li a:hover{ background:url(../images/ny_nav.png) no-repeat;}
		.ny_nav ul li a{ display:inline-block; cursor:pointer; height:23px;}
		.ny_nav ul li.li1{ background-position:0 0; width:41px;}
		.ny_nav ul li.li1 a{ width:41px;}
		.ny_nav ul li.li1 a.cur,.ny_nav ul li.li1 a:hover{ background-position:0 -23px;}
		.ny_nav ul li.li2{ background-position:-90px 0; width:82px; margin:0 48px 0 0;}
		.ny_nav ul li.li2 a{ width:82px;}
		.ny_nav ul li.li2 a.cur,.ny_nav ul li.li2 a:hover{ background-position:-90px -23px;}
		.ny_nav ul li.li3{ background-position:-220px 0; width:106px;  margin:0 46px 0 0;}
		.ny_nav ul li.li3 a.cur,.ny_nav ul li.li3 a:hover{ background-position:-220px -23px;}
		.ny_nav ul li.li3 a{ width:106px;}
		.ny_nav ul li.li4{ background-position:-372px 0; width:106px; margin:0 0 0 0;}
		.ny_nav ul li.li4 a{ width:106px;}
		.ny_nav ul li.li4 a.cur,.ny_nav ul li.li4 a:hover{ background-position:-372px -23px;}
.ny_content{width:1360px; margin:0 auto}	
	.ny_conleft{ float:left; width:440px; height:1020px; background:#f1f1f1; margin:0 20px 0 0;}
		.ny_leftinfo{ width:384px; height:518px; padding:0 0 0 0; margin:28px; background:url(../images/ny_leftinfo.png) top center no-repeat;}
			.ny_leftinfo .ny_admintitle{ width:384px; height:20px;}
			.ny_leftinfo .ny_admintitle a{ float:right; width:65px; height:20px; display:inline-block;}
			.ny_leftinfo .ny_admininfo{ height:180px; width:384px; padding:30px 0 27px;}
			.ny_leftinfo .ny_admininfo img{ float:left; width:180px; height:180px; border:#fafafa 2px solid; margin:0 22px 0 0;}
			.ny_leftinfo .ny_admininfo h2{ float:left; font-size:18px; color:#848484; font-weight:400;}
			.ny_leftinfo ul.ulinfo{ padding:0 0 0 90px;}
			.ny_leftinfo ul.ulinfo li{ height:50px; line-height:25px; color:#848484; font-size:16px; font-weight:400;}
			
		.ny_leftbtn{ width:242px; margin:20px auto;}
		.ny_leftbtn a{ display:inline-block;}
		.ny_leftbtn a.btn_go{ width:242px; height:45px; background:url(../images/btn_go.png) no-repeat;}
		.ny_leftbtn a.btn_comeon{ width:241px; height:45px; background:url(../images/btn_comeon.png) no-repeat; margin:10px 0;}
		.ny_leftbtn .ny_lefticon{ width:159px; margin:0 auto;}
		.ny_leftbtn .ny_lefticon a.icon_qq{ float:left; width:25px; margin:0 33px 0 0; height:29px; background:url(../images/icon_qq.png) no-repeat}
		.ny_leftbtn .ny_lefticon a.icon_rr{ float:left; width:34px; margin:0 33px 0 0; height:34px; background:url(../images/icon_rr.png) no-repeat}
		.ny_leftbtn .ny_lefticon a.icon_dd{ float:left; width:34px; height:34px; background:url(../images/icon_dd.png) no-repeat}
		
		.ny_leftqt{ width:384px; margin:0 auto; background:url(../images/title_qt.png) left top no-repeat; padding:30px 0 0 0;}
		.ny_leftqt ul li{ float:left; width:80px; margin:10px 15px 0 0;}
		.ny_leftqt ul li a{ display:inline-block; text-decoration:none; text-align:center; }
		.ny_leftqt ul li a img{ width:50px; height:50px; border:none;}
		.ny_leftqt ul li a div{ width:80px; height:30px; line-height:30px;color:#848484; font-size:14px; font-weight:400; white-space: nowrap;text-overflow:ellipsis; overflow:hidden;}
		
	.tab_phb{ width:900px; margin:0 auto}
	.ny_conright{ float:left; width:900px;}
		.ny_conright .tab_phb{ width:900px; margin:0 auto}
		.ny_conright .tab_phb .tab_phbtitle{ border-bottom:#bfcf3b 1px solid; height:68px;}
		.ny_conright .tab_phb .tab_phbtitle ul li{ float:left; margin:20px 40px 0 0; width:93px; height:40px;}
		.ny_conright .tab_phb .tab_phbtitle ul li a{ display:inline-block; width:93px; height:40px; cursor:pointer; background:url(../images/tab_phb.png) no-repeat;}
		.ny_conright .tab_phb .tab_phbtitle ul li.li1{ width:112px;background-position:0 0;background:url(../images/tab_phb.png) no-repeat;}
		.ny_conright .tab_phb .tab_phbtitle ul li.li2 a{ background-position:-163px 0;}
		.ny_conright .tab_phb .tab_phbtitle ul li.li2 a.now,.ny_conright .tab_phb .tab_phbtitle ul li.li2 a:hover{background-position:-163px -40px;}
		.ny_conright .tab_phb .tab_phbtitle ul li.li3 a{ background-position:-294px 0;}
		.ny_conright .tab_phb .tab_phbtitle ul li.li3 a.now,.ny_conright .tab_phb .tab_phbtitle ul li.li3 a:hover{background-position:-294px -40px;}
		.ny_conright .tab_phb .tab_phbtitle ul li.li4 a{ background-position:-427px 0;}
		.ny_conright .tab_phb .tab_phbtitle ul li.li4 a.now,.ny_conright .tab_phb .tab_phbtitle ul li.li4 a:hover{background-position:-427px -40px;}
		
		.ny_conright .tab_phb .tab_phbcon{ width:880px; margin:20px auto;}
							  .tab_phblist{ width:880px; height:290px; background:url(../images/phbbg.jpg) no-repeat;}
							  .tab_phblist_title{ height:42px; line-height:42px; padding:0 0 0 10px; font-size:18px; font-weight:400; color:#e85742; text-align:left;}
							  .tab_phblist_title span{ width:32px; height:32px; line-height:32px; display:inline-block; margin:5px 5px 0 0; text-align:center; background:url(../images/icon_yuan.png) no-repeat; color:#fff;}
							  .tab_phblist_con{ width:880px;}
							  .tab_phblist_left{ float:left; width:680px;}
							  	.tab_phbadmin{ float:left; width:80px; margin:25px;}
								.tab_phbadmin a{ display:inline-block; width:80px; height:110px; text-decoration:none; text-align:center}
								.tab_phbadmin a img{ width:80px; height:80px; border:0;}
								.tab_phbadmin a div{ height:40px; line-height:40px; color:#848484; font-size:18px; font-weight:400; white-space: nowrap;text-overflow:ellipsis; overflow:hidden;}
								.tab_phbadmin a.guanzhu{ width:80px; height:33px; background:url(../images/btn_guanzhu.png) no-repeat; margin:10px 0 0 0;}
								
								.tab_phbinfo{ float:left; width:550px;}
								.tab_phbinfo table{ width:510px; border:#d7d7d7 1px solid; border-collapse:collapse; text-align:center; margin:25px 0 0 0;}
								.tab_phbinfo table td{ border:#d7d7d7 1px solid; border-collapse:collapse; font-size:16px; height:36px; line-height:36px;}
								
								.tab_phbinfo .cy ul{ margin:20px 0 0 0;}
								.tab_phbinfo .cy ul li{ float:left; text-align:center; width:80px; height:80px;}
								.tab_phbinfo .cy ul li a{ display:inline-block; width:80px; height:80px; text-decoration:none;}
								.tab_phbinfo .cy ul li a img{ width:50px; height:50px; border:0;}
								.tab_phbinfo .cy ul li a div{ height:30px; line-height:30px; color:#848484; font-size:14px; font-weight:400; white-space: nowrap;text-overflow:ellipsis; overflow:hidden;}
							  
							  .tab_phblist_right{ float:left; width:164px; margin:30px 18px;}
							  	.tab_phblist_right a{ display:inline-block;}
							  	.tab_phblist_right a.btn_jiayou{ width:163px; height:45px; background:url(../images/btn_jiayou.png) no-repeat;}
							  	.tab_phblist_right a.btn_jiayou2{ width:163px; height:45px; background:url(../images/btn_jiayou2.png) no-repeat;}
								.tab_phblist_right a.btn_fenxiang{ width:163px; height:45px; background:url(../images/btn_fenxiang.png) no-repeat; margin:10px 0;}
								.tab_phblist_right a.icon_qq{ float:left; width:25px; margin:0 25px 0 10px; height:29px; background:url(../images/icon_qq.png) no-repeat}
								.tab_phblist_right a.icon_rr{ float:left; width:34px; margin:0 25px 0 0; height:34px; background:url(../images/icon_rr.png) no-repeat}
								.tab_phblist_right a.icon_dd{ float:left; width:34px; margin:0 10px 0 0; height:34px; background:url(../images/icon_dd.png) no-repeat}
							  
.ny_content2{ width:1320px; margin:20px auto;}
	.tab_kol{ width:1320px;}
		.tab_koltitle{ border-bottom:#d9d9d9 1px solid;}
		.tab_koltitle ul li{ float:left; width:327px; height:44px; line-height:44px; margin:0 10px 0 0; text-align:center; background:url(../images/tab_kolbg1.png) bottom center no-repeat;}
		.tab_koltitle ul li.on,.tab_koltitle ul li:hover{ background:url(../images/tab_kolbg2.png) no-repeat;}
		.tab_koltitle ul li a{ display:inline-block; width:327px; height:44px;}
		.tab_koltitle ul li a img{ margin:14px 0 0 0; border:0;}
		.tab_koltitle ul li.on a img,.tab_koltitle ul li:hover a img{ margin:11px 0 0 0;}
		
		.tab_kolcon{}
			.tab_kolcon input.focus_text{color:#333;width:417px; height:20px; line-height:20px; background:url(../images/inputbg.jpg) no-repeat; border:none; padding:8px 2px 5px 2px;}
			.tab_kolcon input.blur_text{color:#999;width:417px; height:20px; line-height:20px; background:url(../images/inputbg.jpg) no-repeat; border:none; padding:8px 2px 5px 2px;}
			.tab_kol_left{ float:left; width:350px; margin:30px 20px 0 0;}
			
				.tab_kol_left div{ float:left; line-height:20px;}
				.tab_kol_left div img{ border:#cacaca 1px solid; width:152px; height:152px; margin:0 10px 10px 0;}
				.tab_kol_left div h2{color:#575757; font-size:20px; font-weight:400; text-align:left; margin:40px 0 0 0; width:150px;}
				.tab_kol_left div h3{color:#919191; font-size:14px; font-weight:400; text-align:left; width:150px; margin:5px 0 0 0;}
				.tab_kol_left div p{ margin:0 0 0 28px;}
				.tab_kol_left div a.btn_gz{ width:95px; height:40px; background:url(../images/btn_gz.png) no-repeat; display:inline-block;}
			
			.tab_kol_right{ float:left; width:941px;}
				.tab_kol_right h2{ color:#919191; font-size:16px; font-weight:400; height:30px; line-height:30px;}
							   .tab_kol_time{ width:940px; height:220px; padding:0; background:url(../images/kol_conbg.png) no-repeat}
							   	.time_left{ float:left; width:421px;}
									.time_left h3{color:#fff;}
									.time_left h4{ margin:30px 0 0 0;color:#fff;}
									.time_left h4 div{ float:right}
									.time_left h4 div input{ vertical-align:middle;}
								.time_mid{ float:left; width:50px; background:url(../images/icon_row.jpg) center no-repeat; height:20px; margin:26px 0 0 0;}
								.time_right{ float:left; width:421px;}
									.time_right h3{color:#fff;}
									.time_right .divcheck{ margin:5px 0 0 0;color:#fff;}
									.time_right .divcheck input{ vertical-align:middle}
									.time_right a.btn_search{ display:inline-block; width:151px; height:42px; background:url(../images/btn_search.png) no-repeat; float:right; margin:50px 0 0 0;}
								    input.inputclass1{ width:417px; height:20px; line-height:20px; background:url(../images/inputbg.jpg) no-repeat; border:none; padding:8px 2px 5px 2px;}
									input.inputclass2{ width:417px; height:20px; line-height:20px; background:url(../images/inputbg.jpg) no-repeat; border:none; padding:8px 2px 5px 2px;}
							   
			.jianjie{ font-size:18px; color:#363636; width:1300px; height:61px; line-height:61px; padding:0 0 0 20px; text-align:left; background:url(../images/jianjie.png) no-repeat;}
			.imglist{ background:#f5f5f5; padding:25px;}
				.photo_lcon{ border-bottom:#e0e0e0 1px solid; margin:10px 0 20px 0;}
				.photo_lcon dl{ float:left; margin:0 35px 20px 0;}
				.photo_lcon dl.dl_margin{margin:0 0px 20px 0;}
				.photo_lcon dl dt{ float:left; width:300px; height:200px; margin:0 10px 0 0; position:relative;}
				.photo_lcon dl dt a img{ width:300px; height:200px; border:0;}
				.photo_lcon dl dt div.left_title{ position:absolute; left:0; bottom:0; width:290px; padding:8px 0 0 10px; height:40px; line-height:40px; font-size:20px; color:#fff; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#44000000',endColorstr='#44000000');background:rgba(0,0,0,.5);}
				
				.photo_lcon dl dd{ float:left; width:300px; height:25px; line-height:25px;}
				.photo_lcon dl dd h2{ color:#545454; font-size:18px; font-weight:400;}
				.photo_lcon dl dd p{ color:#919191; font-size:14px; font-weight:400; line-height:20px; margin:10px 0 0 0;}
			

.ny_footer{width:100%; height:110px; background:url(../images/ny_footbg.jpg) repeat-x;}
	.text_corpright{ float:left; width:189px; padding:0 0 0 50px; height:110px; background:url(../images/text_corpright.png) right center  no-repeat;}
	.icon_logo{ float:right; width:79px; padding:0 50px 0 0; height:110px; background:url(../images/icon_logo.png) left center no-repeat;}
	.icon_logo a{ display:inline-block; width:79px; height:110px;}

/*弹出层*/
.mydiv { width:638px; height:397px; background:url(../images/pop1.png) no-repeat; z-index:99; left:50%; top:50%; bottom:14%; margin-left:-319px!important;margin-top:-218px!important; position:absolute;/*FF IE7*/position:fixed!important;}
.mydiv .popdiv1{ width:638px;}
.mydiv .popdiv1 input.inputclass3{ float:left; width:162px; height:28px; line-height:28px; padding:30px 0 2px 111px; border:none; background:none; font-size:16px;}
.hidebg { width:100%; height:100%; background: #5be2ed;   filter:alpha(opacity=70);/*IE*/    opacity:0.7;/*FF*/    z-index:1;  position:absolute;/*IE6*/ position:fixed; left:0; top:0;}  
.mydiv .popdiv1 .chk{ width:428px; height:199px; padding:10px 0 0 105px; }
.mydiv .popdiv1 .chk .chkbox{width:420px; height:190px; padding:6px 2px 7px 6px;background:url(../images/checkbox.png) center no-repeat;overflow-x:hidden; overflow-y:auto;}
.mydiv .popdiv1 .chk .chkbox ul{ }
.mydiv .popdiv1 .chk .chkbox ul li{ float:left; width:80px; height:96px; text-align:center}
.mydiv .popdiv1 .chk .chkbox ul li:hover{ background:#ba311c;}
/*.mydiv .popdiv1 .chk .chkbox ul li img{ width:80%; padding:10% 10% 5% 10%;}
.mydiv .popdiv1 .chk .chkbox ul li div{ width:80%; padding:0 10% 5% 10%; color:#fff; text-align:center; font-size:16px; font-weight:400;}*/

.mydiv .popdiv1 .chk .chkbox ul li label.checkbox {cursor:pointer;display:inline-block; width:100%;} 
.mydiv .popdiv1 .chk .chkbox ul li label.checkbox div.divimg{width:63px; padding:8px 8px 5px 8px; position:relative;}
.mydiv .popdiv1 .chk .chkbox ul li label.checkbox div.divimg span{ position:absolute; width:16px; height:17px; right:8px; bottom:5px; display:inline-block; background:url(../images/icon_chk1.jpg) no-repeat; z-index:9999;}
.mydiv .popdiv1 .chk .chkbox ul li label.checkbox div.divimg img{}
.mydiv .popdiv1 .chk .chkbox ul li label.checkbox div.divtext{ width:80px; color:#fff; text-align:center; font-size:12px; height:20px; line-height:20px; font-weight:400;}
.mydiv .popdiv1 .chk .chkbox ul li label.checked div.divimg span{ background:url(../images/icon_chk2.jpg) no-repeat} 
.mydiv .popdiv1 .chk .chkbox ul li label.disabled div.divimg span{ background:url(../images/icon_chk2.jpg) no-repeat} 

.mydiv .popdiv1 .btn_next{ width:174px; height:52px; margin:20px auto;}
.mydiv .popdiv1 .btn_next a{ display:inline-block; width:174px; height:52px; background:url(../images/btn_next.png) center no-repeat;}
.mydiv .popdiv1 .btn_next a:hover{opacity:0.7;filter:alpha(opacity=70);}

.mydiv2 {width:545px; height:419px;z-index:99; z-index:99; left:50%; top:50%; bottom:14%; margin-left:-272px!important;margin-top:-209px!important; position:absolute;/*FF IE7*/position:fixed!important; background:url(../images/pop3.png) no-repeat;}
.mydiv2 .popdiv2{ width:100%; margin:0 auto; position:relative;}
.mydiv2 .popdiv2 .div_iframe{ position:absolute; left:5px; top:5px; right:0; height:90%; overflow:hidden;}
.mydiv3 { width:1360px; height:1000px; z-index:99; left:50%; top:50%; margin-left:-720px!important; margin-top:-500px!important; position:absolute;/*FF IE7*/position:fixed!important;}
.mydiv3 .popdiv3{ width:100%; height:80%; margin:10% 0 0 0}
.mydiv3 .popdiv3 .div_iframe2{width:100%; height:100%; overflow:hidden;}
.mydiv2 .popdiv2 .fx_foot{ position:absolute; left:5px; bottom:5px; right:0; background:#e65948; height:10%;}
.mydiv2 .popdiv2 .fx_foot a.icon_qq{ float:right; width:25px; margin:10px 25px 0 0; height:29px; background:url(../images/icon_qq.png) no-repeat}
.mydiv2 .popdiv2 .fx_foot a.icon_rr{ float:right; width:34px; margin:10px 25px 0 0; height:34px; background:url(../images/icon_rr.png) no-repeat}
.mydiv2 .popdiv2 .fx_foot a.icon_dd{ float:right; width:34px; margin:10px 25px 0 0; height:34px; background:url(../images/icon_dd.png) no-repeat}

/* jcDateIco */
.jcDateIco{background:url(../images/jdbg.jpg) no-repeat center; border:none; width:200px; height:20px; line-height:20px; padding:8px 0 3px 2px;}
input.jcDate{cursor:pointer; float:left;}
#jcDate{background:#fefefe;width:181px;padding:10px;height:203px;position:absolute;z-index:1000;border:1px solid #363636;color:#333;display:none;font-size:0;overflow:hidden;}
#jcDateTt{height:15px;line-height:15px;position:relative;margin-bottom:10px;}
#jcDateTt a{color:#333;display:block;position:absolute;top:0;width:15px;height:15px;cursor:pointer;}
#jcDateTt a#d_prev{background:url(../images/r_left.png) no-repeat center 3px;left:0;}
#jcDateTt a#d_next{background:url(../images/r_right.png) no-repeat center 3px;right:0;}
#jcDateTt a#d_prev:hover{background-position:center -11px;background-color:#2b84b5;}
#jcDateTt a#d_next:hover{background-position:center -11px;background-color:#2b84b5;}
#jcDateTt div{position:absolute;top:0;left:15px;right:15px;bottom:0;color:#333;font-size:12px;font-weight:bold;text-align:center;}
#jcDateTt div samp,#jcDateTt div span{margin:0 5px;color:#333;font-size:12px;font-weight:bold;cursor:pointer;}
#jcDateTt div samp:hover,#jcDateTt div span:hover,#jcDateTt div samp.visited,#jcDateTt div span.visited{color:#2b84b5;}
#jcDateMax{width:2175px;height:124px;position:relative;left:-1087px;top:0;}
#jcDateMax ul{width:181px;font-size:0;float:left;height:124px;display:inline-block;}
#jcDayWrap{overflow:hidden;}
#jcYeas,#jcMonth{display:none;overflow:hidden;padding-left:2px;margin-bottom:10px;}
#jcYeas dt,#jcYeas dd{font-weight:bold;width:53px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
#jcYeas dt:hover,#jcYeas dd:hover,#jcMonth dt:hover,#jcMonth dd:hover{background:#5aaad8;color:#fff;}
#jcYeas dt.visited,#jcYeas dd.visited,#jcMonth dt.visited,#jcMonth dd.visited{background:#2b84b5;color:#fff;}
#jcMonth dt{font-weight:bold;width:53px;height:25px;float:left;text-align:center;line-height:25px;cursor:pointer;margin:10px 0;}
#jcDayWrap ul li,
#jcDayCon dt{float:left;width:25px;line-height:20px;text-align:center;display:inline;}
#jcDayWrap ul li{color:#bbb;cursor:pointer;}
#jcDayCon dt{color:#2b84b5;font-size:13px;}
#jcDayWrap ul li.jcDateColor{color:#555;}
#jcDayWrap ul li.visited{background:#2b84b5;color:#fff;}
#jcDayWrap ul li:hover{background:#5aaad8;color:#fff;}
#jcDateMax{clear:both;}
#jcDateBtn{clear:both;line-height:19px;height:19px;padding-top:10px;overflow:hidden;}
#jcTimeWrap{float:right;width:54px;border:1px solid #999;border-left:1px solid #555;border-top:1px solid #555;height:17px;overflow:hidden;display:none;}
#jcDateBtn label{width:6px;line-height:18px;height:17px;display:block;float:left;text-align:center;color:#333;}
#jcDateBtn input{line-height:17px;height:17px;text-align:center;float:left;width:24px;border:0;}
#jcDateBtn samp,#jcDateBtn span{float:left;margin-right:10px;cursor:pointer;}
#jcDateBtn samp:hover,#jcDateBtn span:hover{color:#d52222;}
#jcDateBtn a#d_sub{width:37px;float:right;display:block;line-height:18px;height:17px;text-align:right;cursor:pointer;}
#jcDateBtn a#d_sub:hover{text-decoration:none;color:#d52222;font-weight:bold;}
/**************************************** jQuery jcdate - End ****************************************************/


/* slider */
.slider{width:885px;height:500px;padding:10px 26px 10px 10px;overflow:hidden;}
.slider img{height:300px;width:230px;border:none;}
.slider ul li{ float:left}
/* 滚动条的样式 */
.scrollUp,.scrollHandle,.scrollDown{overflow:hidden;background-image:url(../images/ttscrollbar.png);background-repeat:no-repeat;_background-image:url(../images/ttscrollbar.gif)}
.scrollBar{height:100%;width:16px;background-repeat:repeat-y;background:url(../images/ttscrollBarBg.png) top right;overflow:hidden;position:absolute;right:0;top:0;z-index:111}
.scrollUp,.scrollDown{height:23px;cursor:pointer;position:absolute;left:1px;cursor:pointer}
.scrollUp,.scrollHandle,.scrollHandleDown,.scrollDown{width:14px;position:absolute;}
.scrollHandle{height:109px;background-position:-21px 0;left:1px;top:19px;cursor:n-resize;}
.scrollUp{background-position:left -1px;top:0;}
.scrollDown{background-position:0 -26px;bottom:0;}

.mydiv .popdiv9{ width:638px;height:397px;background:url(../images/pop2.png) no-repeat;}
.mydiv .popdiv9 .btn_zskt{ width:174px; height:53px; margin:20px auto;}
.mydiv .popdiv9 .btn_zskt a{ display:inline-block; width:174px; height:53px; background:url(../images/btn_zskt.png) center no-repeat;}
.mydiv .popdiv9 .btn_zskt a:hover{opacity:0.7;filter:alpha(opacity=70);}

.radioimg{ width:600px; margin:20px auto; padding:60px 0 0 0;}
.radioimg .hRadio{display:inline-block;cursor:pointer;vertical-align:middle; width:120px; height:100px; text-align:center; float:left; }
.radioimg .hRadio div{ width:120px; height:100px; display:inline-block;}


.radioimg2{ float:left; width:282px; height:32px; padding:26px 0 0 62px;}
.radioimg2 .hRadio{display:inline-block;cursor:pointer;vertical-align:middle; width:94px; height:32px; float:left;}
.radioimg2 .hRadio div{ width:100%; height:100%; display:block;}
.radioimg2 .hRadio_Checked { background:url(../images/icon_gou.png) 20px center no-repeat;}

.ny_content3{ width:1440px; margin:20px auto; background:#fff;}
.ny_content3 img{ vertical-align:bottom;}